/* CSS Reset */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Variables */
:root {
  /* Colors */
  --base-color: #000000;
  --body-color: #FFFFFF;
  --action-color: #0065ff;
  --color-lightgray: #dfdfdf;
  --color-darkgray: #c2c2c2;
  /* Fonts */
  --font-body: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-mono: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --size-xxs: calc(1rem / 4 * 1);
  --size-xs: calc(1rem / 4 * 2);
  --size-sm: calc(1rem / 4 * 3);
  --size-md: calc(1rem / 4 * 4);
  --size-lg: calc(1rem / 4 * 5);
  --size-xl: calc(1rem / 4 * 6);
  --size-xxl: calc(1rem / 4 * 8);
  /* Misc */
  --border-sm: 1px;
  --border-md: 3px;
  --content-max-width: 640px;
  --opacity: .5;
}

/* General */
body {
  font-size: var(--size-md);
  font-family: var(--font-body);
  background-color: var(--color-lightgray);
}
.main {
  padding: var(--size-lg) var(--size-md);
}

/* Loading */
.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  text-align: center;
  padding: var(--size-xs);
  text-transform: uppercase;
  font-family: var(--font-mono);
  font-size: var(--size-sm);
  background-color: var(--base-color);
  color: var(--body-color);
  padding-top: 45vh;
  height: 100vh;
}
body.isLoading .reset,
body.isLoading .main {
  display: none;
}
body:not(.isLoading) .loading {
  display: none;
}

/* Logo */
#logo {
  display: block;
  max-width: 80px;
  width: 33%;
  margin-left: auto;
  margin-right: auto;
  margin-top: var(--size-xl);
  cursor: pointer;
}
#logo:hover {
  opacity: var(--opacity);
}

/* Button */
.button {
  text-transform: uppercase;
  font-family: var(--font-mono);
  font-size: var(--size-sm);
  background-color: var(--base-color);
  color: var(--body-color);
  padding: var(--size-xs);
  border-radius: var(--size-xxs);
  display: inline-block;
  cursor: pointer;
}
.button:hover {
  opacity: var(--opacity);
}

/* Reset */
.reset {
  position: fixed;
  top: var(--size-sm);
  right: var(--size-sm);
  z-index: 1;
}

/* Titles */
#title,
#subtitle {
  text-align: center;
}
#subtitle {
  margin-bottom: var(--size-lg);
}

/* Search */
.fuzzy-search {
  width: 100%;
  padding: var(--size-xs);
  border: none;
}

/* List */
.list {
  list-style: none;
  margin-top: var(--size-xl);
}
.list > li {
  padding: var(--size-md);
  margin-bottom: var(--size-sm);
  background-color: var(--body-color);
  border-radius: var(--size-sm);
  box-shadow: 0 0 var(--size-md) var(--color-darkgray);
}
.list .inactive {
  opacity: .3;
}
.list .name,
.list .city,
.list .tag,
.list .user {
  cursor: pointer;
}
.list .name:hover,
.list .city:hover,
.list .tag:hover,
.list .user:hover {
  opacity: var(--opacity);
}
.list .name {
  font-size: var(--size-lg);
  color: var(--action-color);
  margin-bottom: auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.list .id,
.list .user,
.list .city,
.list .update {
  margin-top: var(--size-sm);
}
.list .update,
.list .id {
  font-size: var(--size-xs);
  font-family: var(--font-mono);
  text-transform: uppercase;
}
.list p {
  display: inline-block;
}
.list p:not(:first-of-type):before {
  content: "/";
  display: inline-block;
  margin: 0 var(--size-xxs);
}
.list .tags {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: var(--size-xs);
}
.list .tag {
  margin-top: var(--size-xs);
  margin-right: var(--size-xs);
  font-size: var(--size-xs);
  font-family: var(--font-mono);
  text-transform: uppercase;
  border: var(--border-sm) solid var(--base-color);
  padding: var(--size-xxs) var(--size-xs);
}

/* detail */
.detail li h2,
.detail li h3 {
  text-align: center;
}
.detail li h3 {
  font-size: var(--size-md);
  margin-bottom: var(--size-lg);
}
.detail .more {
  display: block;
  background-color: var(--action-color);
  color: var(--body-color);
  padding: var(--size-sm);
  margin-top: var(--size-lg);
  text-decoration: none;
  font-family: var(--font-mono);
  font-size: var(--size-sm);
  text-transform: uppercase;
  text-align: center;
}

/* uPlot */
.chart {margin-bottom: 50px;}
.u-title, .u-legend {display: none !important;}
.uplot.chart {
  width: 100%;
  overflow: hidden;
  margin-bottom: 30px;
}
.u-wrap {
  width: 100% !important;
  height: 0 !important;
  padding-bottom: calc(100%/3*2);
}
.uplot canvas {
  position: absolute;
  top: 0; left: 0;
}

/* Simple */
.index.simple .reset {
  display: none;
}
/* .index.simple .user,
.index.simple .city,
.index.simple .tag {
  pointer-events: none;
  cursor: default;
} */


@media screen and (min-width: 870px) {
  .list {
    margin-left: calc(var(--size-sm) * -1);
    display: flex;
    flex-wrap: wrap;
  }
  .list > li {
    display: flex;
    flex-direction: column;
    margin-left: var(--size-sm);
  }
  .index .list > li {
    width: calc(100% / 3 - var(--size-sm));
  }
  .detail .list > li {
    width: calc(100% / 2 - var(--size-sm));
  }
}