a {color: var(--base-color);}
#header {margin-bottom: calc(var(--size-xl) * 2);}
#footer {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
#footer img {
  height: 55px;
  width: auto;
  mix-blend-mode: multiply;
}
#footer img.logo-landscape {
  height: 35px;
}
#footer img.logo-social {
  height: 25px;
}
img#footer_logo {
  width: 140px;
  height: auto;
  margin-right: var(--size-xxl);
}
#footer h2 {
  text-align: left;
  font-size: var(--size-md);
  margin-top: var(--size-xl);
  font-weight: 600;
}
.footer_links {
  margin-top: var(--size-md);
}
.footer_links li {
  margin-right: var(--size-xl);
  margin-bottom: var(--size-xl);
  vertical-align: middle;
}
.footer__info img,
.footer__info p {
  display: inline-block;
  vertical-align: top;
}
.footer__info p {
  max-width: 630px;
  text-align: left;
}
.footer__partners section {
  display: inline-block;
}
.footer__socials {
  display: inline-block;
}
body:not(.minimalistic) #footer {
  display: none;
}
#list #globalKit {
  position: absolute;
  top: var(--size-md);
  right: var(--size-md);
  width: 40px !important;
  height: 40px;
  background-color: #99caff;
  border-radius: 100%;
  opacity: 1;
  border-color: transparent;
}
body[isGlobal="true"] {
  background-color: #99caff;
}
#header img {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  border-radius: var(--size-md);
  margin-top: var(--size-lg);
  height: 50vh;
  object-fit: cover;
}
#buttonPump {
  display: block;
  width: 100%;
  background-color: var(--colorBase);
  color: var(--colorBody);
  text-decoration: none;
  font-size: var(--size-xl);
  font-weight: 600;
  text-align: center;
  padding: var(--size-md);
  border-radius: var(--size-md);
  margin-bottom: var(--size-xxl);
  cursor: pointer;
}
header #status {
  margin-top: var(--size-sm);
  font-weight: 600;
  display: table;
  margin-left: auto;
  margin-right: auto;
  padding: var(--size-md);
  background-color: var(--colorFalse);
  color: var(--colorBody);
  transform: rotate(-10deg);
  position: relative;
  top: var(--size-lg);
}
.uplot .u-over {
  display: none;
}
.minimalistic #list li:not(#globalKit) {
  height: 54vh;
  position: relative;
}
.minimalistic #list li:not(#globalKit):before,
.minimalistic #list li:not(#globalKit):after {
  content: "";
  position: absolute;
  width: 100%;
  margin-left: calc(-1 * var(--size-md));
  height: var(--size-sm);
  background-color: var(--colorBackground);
}
.minimalistic #list li:not(#globalKit):before {
  top: 33%;
}
.minimalistic #list li:not(#globalKit):after {
  padding-bottom: 0 !important;
  top: 66%;
}
#main iframe {
  margin-top: var(--size-xxl);
}
#buttonPump {
  position: relative;
}
#buttonPump:after {
  content: "";
  height: 8px;
  width: 0;
  background-color: #1daef6;
  position: absolute;
  bottom: 0;
  left: 0;
}
#buttonPump.animation-start:after {
  animation: progress 10s 1 linear;
}

@keyframes progress{
  0% {width: 0%;}
  25% {width: 50%;}
  50% {width: 75%;}
  75% {width: 85%;}
  100% {width: 100%;}
};

@media screen and (min-width: 871px) {
  #list #globalKit {
    width: 80px !important;
    height: 80px;
    top: var(--size-xxl);
    right: var(--size-xxl);
  }
}
@media screen and (max-width: 870px) {
  #title {
    margin-top: calc( 2 * var(--size-xxl));
  }
  .minimalistic #list > li {
    margin-left: var(--size-sm);
    width: calc(100% / 7 - var(--size-sm)) !important;
  }
}